<!-- app/views/devise/shared/_links.html.erb -->

<div class="flex items-center justify-center mt-8">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Sign in", new_user_session_path, class: "text-blue-500 hover:text-blue-700 px-4 py-2 rounded bg-blue-200 hover:bg-blue-300" %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_user_registration_path, class: "text-green-500 hover:text-green-700 px-4 py-2 rounded bg-green-200 hover:bg-green-300" %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_user_password_path, class: "text-gray-500 hover:text-gray-700 px-4 py-2 rounded bg-gray-200 hover:bg-gray-300" %>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path, class: "text-orange-500 hover:text-orange-700 px-4 py-2 rounded bg-orange-200 hover:bg-orange-300" %>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_user_unlock_path, class: "text-red-500 hover:text-red-700 px-4 py-2 rounded bg-red-200 hover:bg-red-300" %>
  <% end %>
</div>
