<!-- app/views/categories/show.html.erb -->

<h1><%= @category.name %></h1>

<p><strong>Products:</strong></p>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_category_path(@category) %>
<%= link_to 'Delete', @category, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back to Categories', categories_path %>
