<!-- app/views/products/edit.html.erb -->

<h1>Edit Product</h1>

<%= form_for @product do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.collection_select :category_id, @categories, :id, :name, prompt: "Select a category", required: true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, required: true %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.01, required: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Product' %>
  </div>
<% end %>

<%= link_to 'Cancel', product_path(@product) %>
