<!-- app/views/products/index.html.erb -->

<div class="container mx-auto mt-8">
  <h1 class="text-4xl font-bold mb-4">Product List</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @products.each do |product| %>
      <div class="bg-white overflow-hidden shadow rounded-lg">
        <!-- No image for now -->
        <div class="p-6">
          <%= link_to product_path(product) do %>
            <h2 class="text-xl font-semibold mb-2"><%= product.name %></h2>
          <% end %>
          <p class="text-gray-600 mb-2"><%= product.category.name %></p>
          <p class="text-gray-600 mb-4"><%= product.description %></p>
          <p class="text-blue-500 font-bold"><%= number_to_currency(product.price) %></p>
        </div>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <p class="mt-8"><%= link_to 'New Product', new_product_path, class: 'text-blue-500 hover:text-blue-700' %></p>
  <% end %>
</div>
